# Ignore general build directories
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore Eclipse and Spring Tool Suite (STS) specific files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignore IntelliJ IDEA files
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Ignore NetBeans specific files
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore VS Code settings
### VS Code ###
.vscode/

# Ignore application.properties to avoid sensitive data in git history
src/main/resources/application.properties
