.icon1:hover
{
    box-shadow: 5px 5px 10px #66CDAA;
}
.icon2:hover
{
    box-shadow: 5px 5px 10px #66CDAA;
}
.icon3:hover
{
    box-shadow: 5px 5px 10px #66CDAA;
}
.icon4:hover
{
    box-shadow: 5px 5px 10px #66CDAA;
}